<div class="container p-4">
    <div class="row">
        <div class="col-md-6 mx-auto">
            <div class="alert alert-dismissible alert-warning">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <h4 class="alert-heading">Warning!</h4>
                <p class="mb-0">Something happend. Verify that you entered your profile id correctly and you still haven't exceeded the request limit at the <a href="https://developer.github.com/v3/#rate-limiting" class="alert-link">github api.</a> <a href="/" class="alert-link">Go back.</a></p>
            </div>
        </div>
    </div>
</div>