<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Github Repos With Javascript</title>
    {{!--   Google Fonts    --}}
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">
    {{!--   Bootstrap 4     --}}
    <link rel="stylesheet" href="https://bootswatch.com/4/solar/bootstrap.min.css">
    {{!--   Custom Css      --}}
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    {{> navbar }}

    {{{ body }}}

</body>
</html>